# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
.env
.env.local
.env.*.local
.env.backend

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
logs

# IDE
.idea
.vscode
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Yarn
yarn-error.log
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# TypeScript
dist
*.tsbuildinfo